<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Page</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body class="bg-nav">

  <nav class = "navbar">
    <a href="" class = "navbar-brand text-light">Personal Details</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class = "text-light display-4 mt-100" style="font-size:89px">Welcome, <br> Here Your Account Details.</h1>
      </div>
      <div class="col-md-4" >
        <div class="card mt-100"  class="input-field">
          <div class = "card-body">
            <form class = "form" style="font-family:emoji; font-size:18px">
              <label><strong>Name:</strong></label><br>
              <p>Thomas Alexender Einstein</p>
              <label><strong>Email:</strong></label><br>
              <p>thomaseinstein@example.com</p>
              <label><strong>Personal Details:</strong></label>
              <p>Account Number: #1234Account457<br>
              Date of Birth: 25-12-1977<br>
              Mobile Number: (+1) 333 777 555<br>
                Eduaction: Phd in Mathematics and Physics<br>
                Profession: Scientist
              </p>
              <a href="/"><input type="button" class="w-100 btn btn-lg btn-primary" value="Log out"></input></a>
            </form>
          </div>
      </div>
  </div>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

  </body>
</html>