<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body class="bg-nav">

  <nav class = "navbar">
    <a href="" class = "navbar-brand text-light">Three Factor Authentication</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class = "text-light display-4 mt-100" style="font-size:68px">Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</h1>

      </div>
      <div class="col-md-4">
        <div class="card mt-100"  class="input-field">
          <div class = "card-body">
            <form class = "form" method = "post" action="/login_validation">
              <p class="text-secondary" style="font-family:emoji; font-size:22px"><strong>Start 3-Factor Authentication</strong></p>
              <i class="uil uil-envelope icon"></i>
              <label>Email</label><br>
              <input type="email" class="form-control" name="email"><br>
               <i class="uil uil-eye-slash showHidePw"></i>

              <label >Password</label><br>
              <input type="password" class="form-control" name="password"><br>
              <input type = "submit" class="w-100 btn btn-lg btn-primary" value="Login">
              <br>
              <br>

              <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
            </form>
            <p class="mt-2">Not a member?<a href="/register">&nbsp;Create Account</a> </p>
          </div>
      </div>
  </div>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>


  </body>
</html>